body {
	text-align: center; 
	background-image: url(https://wallpaperaccess.com/full/3001162.jpg);
	color: white;
}

.dark-box { background-color: rgba(0, 0, 0, 0.7); 
            color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 50px;
        }
        .column {
            background-color: rgba(255, 255, 255, 0.1); 
            padding: 20px;
            margin: 10px;
            border-radius: 8px;
            height: 100%; 
        }
        h2 {
            color: white;
        }
        .row {
            display: flex; 
            justify-content: space-between;
        }
        .col-md-4 {
            flex: 1; 
            margin-right: 10px;
        }
        .col-md-4: {
            margin-right: 0;
        }